version: '3'
services:
  nginx:
    network_mode: "host"
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx:bao
    depends_on:
      - php
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
      - ./../:/var/www/html/fate
      - ./log/nginx:/var/log/nginx
    restart: always
    container_name: nginx

  php:
    network_mode: "host"
    build:
      context: ./php
      dockerfile: Dockerfile
    image: php74-fpm
    volumes:
      - ./../:/var/www/html/yii2-app-advanced-template
      - ./php/fpm/php-fpm.conf:/etc/php/7.4/fpm/php-fpm.conf
      - ./php/fpm/php.ini:/etc/php/7.4/fpm/php.ini
      - ./php/fpm/www.conf:/etc/php/7.4/fpm/pool.d/www.conf
      - ./php/cli/php.ini:/etc/php/7.4/cli/php.ini
      - ./supervisor/supervisord.conf:/etc/supervisor/supervisord.conf
      - ./supervisor/conf.d:/etc/supervisor/conf.d
      - ./log/supervisor:/etc/supervisord.d/log
      - ./log/php:/var/log/php
    restart: always
    container_name: php


